body{
width:50px;
margin:auto;
padding:50px;
}
.group{
margin:20px;
}
.group-inlined{
width:49%;
float-left;
margin-left:1%;
display:inline-block;}

label{ 
display:block; 
front-family:"NanumGothic"; 
Padding-bottom:10px; 
font-size:1.25em;
} 
input,textarea{ 
border-radius:2px; border:2px Solid #777; 
box-sizing:border-box; 
font-family:"NanumGothic"; 
Padding:10px 
}
.green{
background-color:green; 
font-size:25px;
}
input[type="submit"]:hover{
background-color:darkgreen;
}